<html>

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport" />
  <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css" />
  <link rel="stylesheet" href="https://codemirror.net/addon/scroll/simplescrollbars.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.13.1/js-yaml.min.js"></script>
</head>

<body>
  <div id="app">
    <div class="md-layout">
      <div class="md-layout-item">
        <h1 style="padding: 0px; margin-top:0.5rem; margin-bottom:0.5rem;">Python
          - Learn Unit Testing</h1>
      </div>
      <dialog-activity v-bind:yaml-problems="yamlQuestions" @yamlhandler="yamlToVue" />
    </div>
    <md-tabs>
      <md-tab v-for="question in questions" :key=question.name v-bind:md-label=question.name+question.status>
        <jest-activity v-bind:layout-things=question.layoutItems
          v-bind:question-name=question.name @questionhandler="toggleQuestionStatus" />
      </md-tab>
    </md-tabs>
  </div>
</body>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-material@beta"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/mode/python/python.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-codemirror@4.0.6/dist/vue-codemirror.min.js"></script>
<script src="https://codemirror.net/addon/scroll/simplescrollbars.js"></script>
<script>
  Vue.use(VueMaterial.default)
  Vue.use(window.VueCodemirror)


  Vue.component('dialog-activity', {
    props: ['yamlProblems'],
    data: function () {
      return {
        showDialog: false,
        cmOptions: {
          mode: "yaml",
          lineNumbers: true
        }
      }
    },
    methods: {
      onSave: function () {
        this.showDialog = false;
        return this.$emit('yamlhandler', this.yamlProblems)
      }
    },
    template: `
    <div>
    <md-dialog :md-active.sync="showDialog">
      <md-dialog-title>Edit questions</md-dialog-title>
          <codemirror class="editableTextarea" v-model="yamlProblems" :options="cmOptions"></codemirror>
      <md-dialog-actions>
        <md-button class="md-primary" @click="showDialog = false">Close</md-button>
        <md-button class="md-primary" @click="onSave">Save</md-button>
      </md-dialog-actions>
    </md-dialog>

    <md-button class="md-primary md-raised" @click="showDialog = true">Show Dialog</md-button>
  </div>`
  })

  Vue.component('jest-activity', {
    props: ['layoutThings', 'questionName'],
    data: function () {
      return {
        answer: { jsonFeedback: '', htmlFeedback: '', textFeedback: '', isComplete: false },
        layoutItems: this.layoutThings,
        isHidden: true,
        submitText: "Submit",
        isCorrectColor: "#ff5252",
        cmOptions: {
          mode: "python",
          lineNumbers: true,
          scrollbarStyle: "simple"
        },
        cmReadOnly: {
          lineNumbers: true,
          mode: "python",
          readOnly: true,
          scrollbarStyle: "simple"
        },
        cmInstructions: {
          lineNumbers: false,
          mode: "text",
          readOnly: true,
          scrollbarStyle: "simple"
        }
      }
    },
    methods: {
      postContents: function () {
        const gatewayUrl = '';
        this.$set(this, 'submitText', 'Loading...');
        this.$set(this, 'answer', { jsonFeedback: '', htmlFeedback: '', textFeedback: '', isComplete: false });
        this.$set(this, 'isHidden', true);
        fetch(gatewayUrl, {
          method: "POST",
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ userToken: "ABCDE", shown: { 0: this.layoutItems[0].vModel }, editable: { 0: this.layoutItems[1].vModel }, hidden: { 0: this.layoutItems[2].vModel } })
        }).then(response => {
          return response.json()
        }).then(data => {
          let temp = JSON.parse(JSON.stringify(data));
          temp.jsonFeedback = JSON.stringify(temp.jsonFeedback, null, 2);
          this.$set(this, 'answer', temp);
          this.$set(this, 'isHidden', false);
          this.$set(this, 'submitText', 'Submit');
          if (this.answer && this.answer.isComplete) {
            this.$set(this, 'isCorrectColor', 'green');
          } else {
            this.$set(this, 'isCorrectColor', '#ff5252');
          }
          return this.$emit('questionhandler', { data, questionName: this.questionName })
        })
      }
    },
    template: `<div class="md-layout">
          <div class="md-layout-item md-size-100">
            <div class="md-layout md-gutter">
              <div class="md-layout-item md-size-50">
                <md-card class="input-card">
                  <md-card-header>
                    <md-card-header-text
                      ><div class="md-subheading"><b>Introduction</b></div>
                    </md-card-header-text>
                  </md-card-header>
                  <md-card-content>
                    <codemirror
                      class="instructionTextarea"
                      v-model="layoutItems[3].vModel"
                      :options="cmInstructions"
                    ></codemirror>
                  </md-card-content>
                </md-card>
              </div>
              <div class="md-layout-item md-size-50">
                <md-card class="input-card">
                  <md-card-header>
                    <md-card-header-text
                      ><div class="md-subheading"><b>Tests</b></div>
                    </md-card-header-text>
                  </md-card-header>
                  <md-card-content>
                    <codemirror
                      class="shownTextarea"
                      v-model="layoutItems[0].vModel"
                      :options="cmReadOnly"
                    ></codemirror>
                  </md-card-content>
                </md-card>
              </div>
            </div>
          </div>
          <br />
          <div class="md-layout-item md-size-100" style="margin-top:10px;">
            <div class="md-layout md-gutter">
              <div class="md-layout-item md-size-50">
                <md-card class="input-card">
                  <md-card-header>
                    <md-card-header-text
                      ><div class="md-subheading"><b>Editable code</b></div>
                    </md-card-header-text>
                    <button class="button" id="submit" v-on:click="postContents">
                      <span>{{ submitText }}</span>
                    </button>
                    <button
                      class="button"
                      v-bind:class="{ hidden: isHidden}"
                      v-bind:style="{ background: isCorrectColor}"
                    >
                      <span>{{
                        answer && answer.isComplete ? "Passed" : "Failed"
                      }}</span>
                    </button>
                  </md-card-header>
                  <md-card-content>
                    <codemirror
                      class="editableTextarea"
                      v-model="layoutItems[1].vModel"
                      :options="cmOptions"
                    ></codemirror>
                  </md-card-content>
                </md-card>
              </div>
              <div class="md-layout-item md-size-50">
                <md-card>
                  <md-card-header>
                    <md-card-header-text>
                      <div class="md-subheading"><b>Output</b></div>
                    </md-card-header-text>
                  </md-card-header>
                  <md-card-content>
                    <md-field>
                      <md-tabs class="output-tabs">
                        <md-tab id="tab-htmlResults" md-label="HTML results">
                          <div
                            class="output-tab"
                            v-html="answer.htmlFeedback"
                            style="overflow: scroll;"
                          ></div>
                        </md-tab>
                        <md-tab id="tab-jsonResults" md-label="JSON results">
                          <md-textarea
                            class="output-tab"
                            v-model="answer.jsonFeedback"
                            readonly
                          ></md-textarea>
                        </md-tab>
                        <md-tab id="tab-textResults" md-label="Text results">
                          <md-textarea
                            class="output-tab"
                            v-model="answer.textFeedback"
                            readonly
                          ></md-textarea>
                        </md-tab>
                      </md-tabs>
                    </md-field>
                  </md-card-content>
                </md-card>
              </div>
            </div>
          </div>
        </div>`
  })
  new Vue({
    el: "#app",
    data: function () {
      return {
        questions: ["$$TOBEREPLACEDBYYAML$$"],
        yamlQuestions: jsyaml.dump(`$$TOBEREPLACEDBYRAWYAML$$`)
      }
    },
    methods: {
      toggleQuestionStatus(response) {
        const { data, questionName } = response
        if (data.isComplete) {
          this.questions.find(item => item.name === questionName).status = " ✔️";

        }
        else {
          this.questions.find(item => item.name === questionName).status = " 🔴";
        }
      },
      yamlToVue(yaml) {
        this.yamlToQuestion(jsyaml.load(yaml))
      },
      yamlToQuestion(loadedYaml) {

        const templateComponent = `
        {
        name: "question $$INDEX$$", layoutItems: [
            { vModel: "$$SHOWN$$" },
            { vModel: "$$EDITABLE$$" },
            { vModel: "$$HIDDEN$$" },
            { vModel: "$$INTRODUCTION$$" }
        ], status: " 🔴"
        }`

        const replacedContent = ["$$INDEX$$", "$$SHOWN$$", "$$EDITABLE$$", "$$HIDDEN$$", "$$INTRODUCTION$$"]

        index = 0
        component = ""
        for (let key in loadedYaml["Problems"]) {
          problem = loadedYaml["Problems"][key]

          console.log("problem", problem)

          const replacementItems = [(index + 1).toString(), problem["Tests"] || "", problem["Editable"] || "", problem["Hidden"] || "", problem["Introduction"] || ""]

          let interimComponent = templateComponent

          replacedContent.map((replacedItem, index) => {
            interimComponent = interimComponent.replace(replacedContent[index], replacementItems[index])
          })
          component += interimComponent
          index++
        }
        return this.questions = component
      }
    }
  });
</script>
<style lang="scss" scoped>
  textarea {
    font-size: 1rem !important;
    height: 100%;
  }

  .md-card-header {
    padding-top: 0px;
  }

  .md-tabs {
    width: 100%;
  }

  .md-tab {
    min-height: 600px;
  }

  .md-content {
    min-height: 200px !important;
  }

  .md-card {
    overflow: hidden;
  }

  .md-field {
    padding-top: 0px;
  }

  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #0099ff;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 10;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 5px;
  }

  #submit span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  #submit span:after {
    content: ">";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  #submit:hover span {
    padding-right: 25px;
  }

  #submit:hover span:after {
    opacity: 1;
    right: 0;
  }

  .hidden {
    display: none;
  }

  .output-tab {
    min-height: 150px !important;
    max-height: 150px !important;
    overflow: scroll;
  }

  h1 {
    margin-top: 1rem;
    padding: 20px;
    text-align: center
  }

  .CodeMirror {
    height: 150px;
  }

  .CodeMirror-overlayscroll-vertical {
    display: block !important;
  }
</style>

</html>